<!DOCTYPE hmtl>
<html>
<head>
<title>HTML5/CSS3 Responsive Theme</title>
<meta charset="utf-8" />

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<script src="angular.min.js"></script>

</head>

<body>
<script type="text/ng-template"  id="tree_item_renderer.html">
    <textarea></textarea>
    <button ng-click="add(data)">Add Comment</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>
<ul ng-app="myApp" ng-controller="myCtrl" style="list-style: none;">
    <li ng-repeat="data in comments" ng-include="'tree_item_renderer.html'"></li>
</ul>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    
	
	$scope.delete = function(data) {
        data.nodes = [];
    };
    
	$scope.add = function(data) {
        data.nodes.push({name: data.name + '-' + data.nodes.length + 1,nodes: []});
    };
    
	$scope.comments = [{name: "Comment", nodes: []}];
});
</script>
</body>
</html>