<script src="angular.min.js"></script>
<script src="reddit.js"></script>
<div ng-app="Example">
    
    <div ng-controller="TestController">
        
        <ul>
            <li ng-repeat="item in list" id="{{item.id}}">
                <span>{{item.name}}</span>
                <button ng-click="addComments(item)">Add</button>
                <ul ng-show="item.children">
                    <li id="{{child.id}}" ng-repeat="child in item.children">
                        <span>{{child.name}}</span>
                        <button ng-click="addComments(child)">Add</button>
                         <ul ng-show="child.children">
                              <li ng-repeat="subChild in child.children">
                                  <span>{{subChild.name}}</span>
                              </li>
                         </ul>
                    </li>
                </ul>
        </ul>
        
    </div>
    
</div>